@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}
:root{
    --bg-site:#5829b66c;
    --bg_menu:#582dade5; 
    --bg_form:#3E0E9D;
    /* --bg-hover:#2f0a79; */
    --bg-menu-hover: #854df5;
    --color-form: white;
    --bg-btt:#5c2db9ee;
    --color-btt:black;
    --btt-hover:#000000a9;
    --bg-errobox:rgb(218, 26, 26);
    --color-i_text: black;
    --border_avatar: #FFFFFF;

}