@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}
:root{
    --bg-site:#5829b66c;
    --bg_menu:#351379; 
    --bg_form:#4916af;
    --bg_painel:#7937ff1f;
    /* --bg-hover:#2f0a79; */
    --bg-menu-hover: rgb(104, 58, 197);
    --color-form: white;
    --bg-btt:#5c2db9ee;
    --color-btt:white;
    --btt-hover:#000000a9;
    --bg-errobox:rgb(218, 26, 26);
    --color-i_text: black;
    --border_avatar: #FFFFFF;
    --light_text: #FFFFFF;
    --st_pen: #aa1400;
    --st_ini: #f8e919;
    --st_con: #18c74a;
}